<!DOCTYPE html>
<html>


<head>
  <meta charset="utf-8">
  <title>Home</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark p-3">
      <a class="navbar-brand" href="#">BoxCrypt</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown">
              Menu
            </a>
                <div>
                    <p>
                        <span>Home</span>
                        <a href="/share">Share</a>
                        <a href="/view">View</a>
                    </p>
              </div>
          </li>
        </ul>
      </div>
    </nav>
    <div style="margin: 25px 0 0 25px;">
        <div class="container">
            <img src="/img/encrypt.png" class="img-fluid" alt="Cinque Terre" width="500" height="500">
        </div>
        <div style="margin-top:25px;">
            <p>Hello! Welcome to BoxCrypt! Our product allows you a simple and secure means of sharing files across the box platform. It is an extension to functionalities that are already available on Box.com. We use the library built by box to implement our encryption and decryption algorithms to various types of files. Our product securely shares and downloads files regardless of what the extension may be. Hope you love the product as much as we do! </p>
        </div>
    </div>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>
